#info{
  width: 100%;
  margin: 0 auto;
padding-bottom: 2.625rem;
@include shadow;
width: 100%;
margin: 0px auto;
padding: 4rem 0px 4rem 0px;
background-image: url('../../../../assets/background_imgs/black_lozenge.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.info{
  max-width: 20rem;
  margin: 1.5rem;
  height: 42rem;
  border: 1.4rem $smoke solid;
  @include shadow;
  &__col{
    @include col;
  }
&__skill {
  font-family: $title-font;
  font-weight: $weight;
  font-size: 2rem;
  line-height:$line-height;
  padding: 0.75rem;
  color: $lightText;
}
&__title{
  @include title($color: white);
}
&__list{
color: $lightText;
font-family: $body-font;

}
&__list--item{
  // @include caption($color: $lightText);
  padding: 0px;
  font-family: $body-font;
  font-size: 1.35rem;
}
&__icon{
border:  solid 2px;
border-color: $lightText;
background-color: $lightText;
width: 19rem;
border-radius: 19rem;
padding: 1rem;
margin: 1.5rem;
}
&__icon--div{
  width: 100%;
}
}

#overlay__info{
  @include infolay;
}
@media screen and (min-width: 768px){
  div.info__col, div.info__row{
    width: 100%;
    @include row;
  flex-wrap: wrap;
  }
  h1.info__title {
		@include title($color: white, $max-width: 600px);
		@include text-shadow;
}}