.card {
	padding: 24px;
	width: 300px;
	align-self: center;
	text-align: center;
	box-shadow: 6px 10px 13px 0px rgba(50, 50, 50, 0.21);
	margin-top: 24px;
	&__div {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
.card__div.card__div--project {
	display: flex;
	width: 320px;
	margin: 0;
	padding: 0;
}
.card--project {
	position: relative;
	text-align: center;
	color: white;
}

.card__body {
	font-weight: 100;
}
.card__header--project {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 8px;
	left: 16px;
}
// yarn start

@media screen and (min-width: 768px) {
	.card__div {
		flex-direction: row;
	}
	.card {
		margin: 24px;
	}
}
