.ContactForm {
	background-image: url('../assets/backgroundwhite.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.contactOverlay {
	background-color: rgba(0, 0, 0, 0.7);
}
