#contact {
	background-image: url('https://images.unsplash.com/photo-1496660818001-d4f9b64f68f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2160&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 0;
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;

	font-family: 'Montserrat';

	height: 700;
}
#overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 100%;
	align-items: center;
	color: #ffffff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	cursor: default;
	justify-content: space-between;
	height: 700;
	margin: 0;
}
.jumbo {
	height: 750px;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.jumbo {
		height: 650px;
	}
}
@media screen and (min-width: 1024px) {
	.contact__body {
		padding-left: 42;
		padding-right: 42;
	}
}
