* {
	box-sizing: border-box;
	font-size: 12px;
	// max-width: 320px;
	// overflow-x: hidden;
}

:root {
	box-sizing: border-box;
	font-size: 16px;
}

ul {
	text-decoration: none;
	list-style: none;
}
a.nav__iconLink:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

#embed {
	min-width: 320px;
	align-items: center;
	align-self: center;
	justify-content: center;
	margin: 0;
}
.projects:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
a {
	color: black;
}

#resumeLink {
	color: black;
}
a:hover {
	color: rgba(0, 0, 0, 0.5);
}
#resumeLink:visited {
	color: black;
}
#resumeLink:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#demo,
#about,
#projects {
	padding: 0;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-content: center;
	margin: 0;
	font-family: Montserat;
	// margin-top: 32;
	// margin-bottom: 32;
	// padding-bottom: 64;
	padding: 0;
	text-align: center;
	width: '100%';
	border: none;
	background-color: rgba(48, 59, 69, 0.01);
}
div.card {
	width: 100%;
	align-items: center;
	align-self: center;
	justify-content: center;
}

@media screen and (min-width: 340px) {
	* {
		max-width: 100%;
	}
	#embed {
		width: 500;
	}
}

@media screen and (min-width: 568px) {
	#about,
	#projects,
	#demo {
		padding: 0px 32px 0px 32px;
	}
	* {
		font-size: 16px;
	}
}
@media screen and (min-width: 768px) {
	#About,
	#projects,
	#demo {
		padding: 0px 64px 0px 64px;
	}
	* {
		font-size: 16px;
	}
}

@media screen and (min-width: 1024px) {
	#about,
	#demo {
		padding: 0px 88px 0px 88px;
	}
	* {
		font-size: 16px;
	}
}
@media screen and (min-width: 1200px) {
	#about,
	#projects,
	#demo {
		padding: 0px 180px 0px 180px;
	}
	* {
		font-size: 16px;
	}
}
@import './fonts.scss';
@import '../components/Projects/projects.scss';
@import '~bootstrap/scss/bootstrap';
