@import '../styles/fonts.scss';

:root {
	box-sizing: border-box;
	font-size: 16px;
	min-width: 320px;
	max-width: 100%;
	background-color: rgbs(0, 0, 0, 0.5);
}

ol,
ul {
	text-decoration: none;
	list-style: none;
}

.projects:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
a {
	color: black;
}

#resumeLink {
	color: black;
}

#resumeLink:visited {
	color: black;
}
#resumeLink:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
@import '../styles/fonts.scss';
// @import '../components/about/about.scss';
// @import '../components/intro/intro.scss';
@import '~bootstrap/scss/bootstrap';
