* {
	box-sizing: border-box;
	font-size: 12px;
	max-width: 320px;
	// overflow-x: hidden;
}

:root {
	box-sizing: border-box;
	font-size: 16px;
}

ul {
	text-decoration: none;
	list-style: none;
}
a.nav__iconLink:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

#embed {
	width: 320px;
	align-items: center;
	align-self: center;
	justify-content: center;
	margin: 0;
}
.projects:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
a {
	color: black;
}

#resumeLink {
	color: black;
}
a:hover {
	color: rgba(0, 0, 0, 0.5);
}
#resumeLink:visited {
	color: black;
}
#resumeLink:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 340px) {
	* {
		max-width: 100%;
	}
	#embed {
		width: 500;
	}
}
@media screen and (min-width: 768px) {
	* {
		font-size: 16px;
	}
}

@import './fonts.scss';
@import '../components/Projects/projects.scss';
@import '~bootstrap/scss/bootstrap';
