@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:wght@400;500;700&family=Hind+Guntur:wght@300;500;700&family=Josefin+Sans:wght@300;600;700&family=Josefin+Slab:wght@300;600;700&family=Laila:wght@300;500;700&family=Montserrat:wght@300;400;600;900&family=Raleway:wght@300;600;900&family=Rozha+One&family=Work+Sans:wght@300;600;900&display=swap');

@use 'sass:map';
