@import '../styles/fonts.scss';

.navbar {
	height: 54px;
	position: fixed;
	color: white;
	font-family: 'Raleway';
	max-width: 100%;
}

.draw:after {
	content: '';
	cursor: pointer;
	display: block;
	width: 0%;
	border-bottom: 3px solid hsl(81, 28%, 90%);
	transition: 0.5s;
}

.draw:hover:after {
	width: 100%;
	cursor: pointer;
}

.nav-link {
	padding: 0;
	margin: 0;
	background-color: 'hsl(10%, 10%, 0%)';
	cursor: pointer;
}

a.draw:visited {
	color: white;
	cursor: pointer;
}

.draw {
	font-family: Montserrat;
	cursor: pointer;
	font-size: 1.25rem;
	color: white;
}
