.navbar {
	position: fixed;
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 1rem;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.navItem {
	width: 200;
	margin: 0;
	padding: 0;
	display: flex;
	align-self: center;
	padding-top: 16px;
}
a.draw {
	margin: 0 0 0 24px;
}

.draw:after {
	content: '';
	cursor: pointer;
	display: block;
	width: 0%;
	border-bottom: 1px solid hsl(349, 100%, 90%);
	transition: 0.5s;
}

.draw:hover:after {
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid hsl(349, 100%, 90%);
}

@media screen and (max-width: 574px) {
	.draw:after {
		content: '';
		cursor: pointer;
		display: block;
		width: 0%;
		border-bottom: 1px solid #ffffff;
		transition: 0.5s;
		color: #ffffff;
	}

	.draw:hover:after {
		width: 100%;
		cursor: pointer;
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
}
.nav-link {
	padding: 0;
	margin: 0;
	background-color: 'hsl(10%, 10%, 0%)';
	cursor: pointer;
	color: #ffffff;
}

a.draw:visited {
	color: #ffffff;
	cursor: pointer;
}

.draw {
	font-family: Montserrat;
	cursor: pointer;
	font-size: 1rem;
	color: #ffffff;
}

.link {
	color: #ffffff;
	cursor: pointer;
	background-color: 'hsl(10%, 10%, 0%)';
}
.draw.link {
	color: #ffffff;
	background-color: 'hsl(10%, 10%, 0%)';
}

@media screen and (min-width: 575px) {
	.draw:after {
		content: '';
		cursor: pointer;
		display: block;
		width: 0%;
		color: #ffffff;
		border-bottom: 1px solid #ffcdd2;
		transition: 0.5s;
	}

	.draw:hover:after {
		width: 100%;
		// margin-left: 24px;
		// margin-right: 24px;
		color: #ffffff;
		cursor: pointer;
	}
	.navItem {
		width: 200;
		margin: 0;
		padding: 0;
		display: flex;
		align-self: center;
		padding-top: 16px;
	}
}
