@import '../../styles/fonts.scss';
nav#Footer.nav {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	height: 100px;
	justify-content: center;
	max-width: 100%;
	min-width: 320px;
}
div#Footer.nav {
	display: flex;
	flex-direction: row;
	height: 100px;
	justify-content: space-evenly;
	max-width: 100%;
	min-width: 320px;
	align-self: center;
	align-items: center;
}
.nav__iconLink {
	color: white;
	border-width: 2;
	border-color: white;
	border-style: solid;
	border-radius: 6px;
	margin-right: 24;
	margin-left: 24;
}
.nav__icon {
	display: 'inline-block';
	margin-top: 24;
	margin-bottom: 24;
	flex-direction: 'row';
	margin: 0 24px 0 24px 0;
}
a.nav__icon:hover {
	color: hsl(195, 83%, 38%);
}
a.nav__icon:visited {
	color: hsl(96, 5%, 81%);
}
.projects {
	font-family: 'Montserrat';
	font-weight: 300;
	width: 100%;
}
#overlay {
	position: relative;
	display: flex;
	align-self: center;

	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.7);
	z-index: 3;

	cursor: default;
}
#bg {
	background-image: url('https:images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
}
.header__text--div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 0 24px 0;
	margin-top: 64px;
	padding-bottom: 64px;
	text-shadow: black 0.1em 0.1em 0.1em 0.1em;

	z-index: 5;
}

.header__second {
	font-size: 1rem;
	line-height: 1.5rem;
	display: flex;
	justify-content: space-between;
}
span.ellipse {
	padding: 0px 16px;
}

.header__text {
	font-size: 2.5rem;
	line-height: 4.5rem;
	font-weight: demi-bold;
	// margin: 24px 24px 24px 24px;
	text-align: center;
}

h1.header__text {
	font-size: 2.5rem;
	line-height: 4.5rem;
	margin: 24px 24px 24px 24px;
	text-align: center;
	padding-bottom: 24px;
	border-bottom: 0.5px solid white;
}

@keyframes bounceInUp {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
.tech__icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.brand-icon {
	text-shadow: black 0.1em 0.1em 0.2em;
	max-width: 100px;
	max-height: 100px;
	padding: 5px;
	border-radius: 6px;
	outline: black 0.1em 0.1em 0.1em;
	animation: fadeIn 4s;
}
.brand-icon-small {
	text-shadow: black 0.1em 0.1em 0.2em;
	width: 50px;
	height: 50px;

	border-radius: 6px;
	outline: black 0.1em 0.1em 0.1em;
	animation: fadeIn 4s;
}
.brand-icon:hover {
	animation: backOutDown 3s;
}

@keyframes backOutDown {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (min-width: 768px) {
	div#Footer.nav {
		display: flex;
		flex-direction: row;
		height: 100px;
		justify-content: space-evenly;
		max-width: 100%;
		min-width: 768px;
		align-self: center;
		align-items: center;
	}
	.nav__iconLink {
		height: 75;
	}
	.header__text--div {
		justify-content: center;
		width: '100%';
		padding-bottom: 64px;
	}
	.header__second {
		padding-bottom: 40px;
		font-size: 1rem;
		line-height: 1.5rem;
		display: flex;
		justify-content: space-between;
	}
	span.ellipse {
		padding: 0px 16px;
	}

	.header__text {
		font-size: 2.5rem;
		line-height: 4.5rem;
		padding-bottom: 40px;
		font-weight: demi-bold;
		// margin: 24px 24px 24px 24px;
		text-align: center;
	}

	h1.header__text {
		font-size: 2.5rem;
		line-height: 4.5rem;
		margin: 24px 24px 24px 24px;
		text-align: center;
		padding-bottom: 40px;
	}
	#overlay {
		height: 900px;
		min-width: 768px;
		max-width: '100%';
	}
}

@media screen and (min-width: 1024px) {
	#overlay {
		min-width: 1024px;
		max-width: '100%';
	}
}

@media screen and (min-width: 1200px) {
	#overlay {
		min-width: 1200px;
		max-width: '100%';
	}
}
@media screen and (min-width: 1440px) {
	#overlay {
		min-width: 1440px;
		max-width: '100%';
	}
}
