// @import '../../styles/fonts.scss';

div.landing-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 825px;
	align-items: center;
	justify-content: flex-start;
	// margin-top: 64px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

#overlay {
	position: absolute; /* Sit on top of the page content */
	// display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 825px; /* Full height (cover the whole page) */
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
.header__text--div {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	color: white;
	padding: 32px 0;
	text-shadow: black 0.1em 0.1em 0.2em;
	height: 100%;
	padding-bottom: 24px;
	z-index: 5;
	font-weight: 700;
}
div.header__text--row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1rem;
	line-height: 1.5rem;
	align-items: center;
	justify-content: space-around;
	max-width: 400px;
}
h1.header__second {
	font-size: 1rem;
	line-height: 1.5rem;
	display: flex;
	justify-content: space-between;
	// padding-bottom: 24px;
}
span.ellipse {
	padding: 0px 16px;
}
h1.header__text--row {
	font-size: 1rem;
	line-height: 1.5rem;
	// padding-bottom: 24px;
}
h2.header__text {
	font-size: 2rem;
	line-height: 2.5rem;
	// font-weight: 600;
	// padding-bottom: 24px;
	text-align: center;
}
// h2.header__text {
// 	line-height: 2.5rem;
// 	font-size: 2rem;
// 	// font-weight: 600;
// 	padding-bottom: 24px;
// }#E0E0E0
// h2.header__text {
// 	animation: bounceInUp 4s;
// }
// @keyframes bounceInUp {
// 	0% {
// 		transform: scale(0.1);
// 		opacity: 0;
// 	}
// 	60% {
// 		transform: scale(1.2);
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: scale(1);
// 	}
// }
.tech__icons {
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.brand-icon {
	border: 1px solid white;
	text-shadow: black 0.1em 0.1em 0.2em;
	box-shadow: -20px 25px 30px -10px rgba(0, 0, 0, 0.53);
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	padding: 5px;
	margin: 16px;
	border-radius: 6px;
	outline: black 0.1em 0.1em 0.2em;
	animation: fadeIn 4s;
}

.brand-icon:hover {
	animation: backOutDown 3s;
}

@keyframes backOutDown {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (min-width: 768px) {
	div.landing-div {
		justify-content: center;
		margin-top: 0;
	}
	.header__text--div {
		justify-content: center;
	}
}
