@mixin shadow{
  -webkit-box-shadow: 5px 5px 23px 4px rgba(0,0,0,0.49);
box-shadow: 5px 5px 23px 4px rgba(0,0,0,0.49);
}
@mixin icon($color:  color){
  @if $color != $lightText {
    color: $color;
  }
}
@mixin col ($flex-direction: flex-direction){
  display: flex;
$flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-wrap: no-wrap;
  @if $flex-direction != flex-direction {
    flex-direction: $flex-direction
    }
}
@mixin subtitle($color: color){
  max-width: 100%;
  font-family: $subtitle-font;
  font-weight: $subtitle-weight;
  font-size: 1.75rem;
  line-height:1rem;
  padding: 1.5rem;
  @include center;
  @if $color != $lightText {
    color: $color;
  }
}
@mixin caption($color: color){
  padding-top: 1.5rem;
  font-family: $subtitle-font;
  font-weight: $subtitle-weight;
  font-size: 1rem;
  @if $color != $lightText {
    color: $color;
  }
}
@mixin body-text($color: color){
  font-family: $body-font;
  font-weight: $body-title-weight;
  font-size: 1rem;
  line-height:$body-title-line-height;
  text-align: left;
  align-items: flex-start;
  padding: 0rem 3.5rem 0rem 3.5rem;
  @if $color != $lightText {
    color: $color;
  }
}

@mixin center{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

@mixin title($color: color, $max-width: max-width){
@include col;
  font-family: $title-font;
  font-weight: $title-weight;
  font-size: 2.75rem;
max-width: 75%;
  padding: 1.5rem;
  border:  2px solid;
  border-color: $color;
  margin-bottom: 2rem;
  margin-top: 2.625rem;
  align-self: center;
  color: $color;
  // background-color:$dark;
 @include shadow;
  // @if $max-width != max-width {
  //   max-width: $max-width
  //   }
}


@mixin row($flex-wrap: flex-wrap, $flex-direction: flex-direction){
  width: 100%;
  display: flex;

  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
  flex-wrap: $flex-wrap;
  @if $flex-direction != flex-direction {
    flex-direction: $flex-direction
    }
  @if $flex-wrap != flex-wrap {
    flex-wrap: $flex-wrap
    }
}
  // @if $wrap != $wrap {
  //   flex-wrap: $wrap
  // }

  // width: 100%;




@mixin background{
  background-image: url("../../../assets//hero-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
  display: flex;
  // flex-direction: column;
  // align-self: center;
	// align-items: center;
  // justify-content: flex-end;
  height: 60rem;
  width: 100%;
  @include shadow;
    }

@mixin overlay{
  display: flex;
  // flex-direction: column;
	// align-self: center;
	// align-items: center;
  // justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 3;
	cursor: default;
  height: 60rem;
  margin: 0px;
  width: 100%;
}
@mixin infolay{
  display: flex;
  flex-direction: column;
	align-self: center;
	align-items: center;
  justify-content: center;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;

	background-color:$dark;
	z-index: 3;
	cursor: default;
height:39.59rem;
  margin: 0px;
  width: 100%;
}


@mixin text-shadow {
  text-shadow: .5px .5px .5px $dark;
}
@mixin box-shadow {
  box-shadow: 0 0 1em 1em #ccc;
}
// }box-shadow: 5px 5px 23px 4px rgba(0,0,0,0.49)