$font-family2: 'Heebo', sans-serif;
$font-family7: 'Mulish', sans-serif;
$font-family13: 'sifonnbasic';

$mont:  'Montserrat', sans-serif;

$makbold: 'makbold';
$maklight: 'maklight';
$playfair: 'Playfair Display', serif;
$body-font: $mont;
$font-family9: 'Syncopate', sans-serif;
$font-family11: 'Martel Sans', sans-serif;


$fontMain:   $font-family11;
$title-font:  $font-family13;
$title-weight: 700;
$title-size: 3rem;
$title-line-height:5rem;
$caption: $font-family9;
$subtitle-font:  $font-family7;
$subtitle-weight: bold;
$subtitle-size: 1.75rem;
$subtitle-line-height:1.5rem;

$title:  $font-family7;
$weight: 600;
$size: 3rem;
$line-height:4rem;

$body-title-font: $font-family2;
$body-title-size: 1rem;
$body-title-line-height:2rem;
$body-title-weight: 300;


$dark-grey:hsl(225, 59%, 11%);

$lightText: hsl(197, 24%, 94%);

$green:hsl(186, 21%, 26%);


$dark: rgb(7, 17, 15);


$smoke: whitesmoke;

$lightback: beige;
